@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared styles */

*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFF;
    margin: 30px 0;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}

/* header styles */
/* nav bar */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.siteName{
    color: #131313;
    font-size: 2.8rem;
}

.menu{
    display: flex;
    align-items: center;
}

.menu>li{
    list-style-type: none;
    padding: 30px;
}

.menu>li a{
    color: #424242;
    font-size: 1.125rem;
    text-decoration: none;
}

/* main section */
main{
    max-width: 1400px;
    margin: 0 auto;
}

/* banner info */

.banner .bannerInfo{
    max-width: 860px;
    margin: auto;
    text-align: center;
}

.bannerInfo h1{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    padding: 50px 0 20px 0;
}

.bannerInfo p{
    color: #727272;
}

.banner img{
    width: 100%;
    margin: 0 auto;
}

/* team section styles */
.team-container{
    display: flex;
    align-items: center;
    margin: 80px 0;
}

.team-container-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-container-text{
    padding: 0 70px;
    align-items: center;
}

.team-container-text>h1 span:first-child{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.team-container-text>h1 span:nth-child(2){
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-container-text>h1 span:nth-child(3){
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.team-container-text>p{
    color: #727272;
    line-height: 25px;
    padding: 24px 0 0 0;
}

/* features section styles */
.features-container{
    display: flex;
    justify-content: space-between;
}

.features-container .features-text{
    max-width: 590px;
}
.features-container h1{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-container p{
    padding: 24px 0;
    color: #727272;
    line-height: 26px;
}

.features-container .features-cards{
    padding: 30px;
    margin: 0 0 30px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}


.overlay{
    padding: 45px;
    background: #FF900E;
    width: 342px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 120px;
    right: 60px;
    border-radius: 8px;
}

.overlay h1{
    font-size: 4rem;
    font-weight: 700;
    color: #FFF;
}

.overlay p{
    font-size: 1.3rem;
    font-weight: 500;
    color: #FFF;
}


/* facts section styles */

.facts-container{
    display: flex;
    flex-direction: column;
}

.facts-container h1{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.facts-container>p{
    color: #727272;
    line-height: 26px;
    width: 540px;
    padding: 24px 0;
}

.fact-cards{
    margin: 80px 0;
    display: flex;
    justify-content: space-around;
}

#fact-card1, #fact-card2 ,#fact-card3 , #fact-card4{
    box-sizing: border-box;
    height: 240px;
    width: 240px;
    border: 1px solid #FF900E;
    padding: 50px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
}
#fact-card1>h1, #fact-card2>h1 ,#fact-card3>h1 , #fact-card4>h1{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}
#fact-card1>p, #fact-card2>p ,#fact-card3>p , #fact-card4>p{
    color: #727272;
    font-weight: 600;
    font-size: 1.25rem;
}


/* media queries */
/* for small devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .features-container,.facts-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .banner .bannerInfo{
        width: 400px;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-container-img{
        padding: 20px 0;
        grid-template-columns: 1fr;
    }
    .team-container-text{
        text-align: center;
    }
    .features-container img{
        width: 90vw;
    }
    .overlay{
        position: static;
        height: 100px;  
    }
    .fact-cards{
        width: 300px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .facts-container>p{
        width: 90vw;
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width:992px){
    header{
        padding: 20px;
    }
    nav, .features-container, .facts-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-container-text{
        text-align: center;
    }
    .fact-cards{
        width: 600px;
        flex-wrap: wrap;
        gap: 20px;
    }
}